.body{
    background-color: linen;
}

.h2{
    color: midnightblue;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(211, 223, 211);    
}

.article{
    display:table;
}

.element{
    background-color:rgb(45, 223, 154);
    margin: 1rem;
    padding:1rem;
    border-radius: 1em;  
    text-align: center;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}


#outputFortune,#outputAge,#outputSupply,#outputGeo,#outputTemp{

color: blue;

text-align: center;
width: 100%;
padding: 0.5em;
}